.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: darkslategray;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: cyan;
}

p {
  font-size: 2rem;
  color: cyan;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
button{
  display: block;
  width: 100px;
  margin: 75px auto auto auto;
  border-radius: 20px;
  font-size: 50px;
  font-family: "Indie Flower";
  background-color: red;
  border: 0;
  color: white;
  text-align: center;
}
button:hover{
  background-color: lightgray;
}
